<?xml version="1.0" encoding="utf-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom">
    {%- from 'macros.j2' import linktag -%}
    {%- set entries = Index.Items|jmes(Catalog.query[0]) -%}
    {%- set most_recent_entry = entries|jmes('reverse(sort_by(@, &updated))[0]')
    -%}
    <title>{{ Item.title }}</title>
    <id>{{ Item.guid }}</id>
    <updated>{{ most_recent_entry.updated }}</updated>
    {% for link in Item.links -%}
        {{ linktag(link) }}
    {%- endfor %}
    <link rel="self" href="{{  }}" />
    <author>
        <name>Vince Veselosky</name>
    </author>

    {%- for entry in entries -%}
<entry>
    <title>{{ entry.title }}</title>
    <summary type="text">{{ entry.description|striptags }}</summary>
    <category term="{{ entry.category.label }}"/>
    <published>{{ entry.published }}</published>
    <updated>{{ entry.updated }}</updated>
    <link rel="alternate" type="text/html" href="{{ channel._url }}{{
        entry._path }}.html" />
    <id>{{ entry.guid }}</id>
</entry>
{% endfor -%}

</feed>
