{% extends "Item_Page.html.j2" %}
{% block wholebody %}
{% import 'macros.j2' as macros %}
{% set author = Item.attributions|jmes("[?role==`author`]|[0]") or
site.attributions|jmes("[?role=`author`]|[0]") %}
<div class="block-group header">
    <header class="block">
    <nav>
    </nav>
    </header>
</div>

<div class="block-group main">
    <main class="block">
        <article class="h-entry">
            <div class="e-content">
                {{ (Article.body or Page.text) | safe }}
            </div>
            <footer class="article-meta">
                <div class="p-meta">
                    By <span class="p-author">{{ author.name }}</span> on
                    <time class="dt-updated">{{ Item.updated[:10] }}</time>
                </div>
                {{ macros.copyright_notice(Item) }}
            </footer>
        </article>
    </main>
    {% if site.disqus_shortname -%}
    <aside class="discussion block">
        <div id="disqus_thread"></div>
        <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */

    var disqus_config = function () {
        correct_url = '{{ site.base ~ Item.archetype.href|with_suffix('.html') }}';
        this.page.url = '{{ Item.disqus_url or site.base ~ Item.archetype.href|with_suffix('.html') }}';
        this.page.identifier = '{{ Item.disqus_url or Item.archetype.href|with_suffix('.html') }}';
        this.page.title = '{{ Item.title|escape }}';
    };

    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');
        s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();


        </script>
        <noscript>Please enable JavaScript to view the <a
                href="https://disqus.com/?ref_noscript" rel="nofollow">comments
            powered by Disqus.</a></noscript>
    </aside>
    {% endif %}

    <aside class="block sidebar">
    </aside>
</div>

<div class="block-group page-footer">

</div>

{% endblock wholebody %}
