{% for entry in channel.entries %}
<div class="hentry">
<h3 class="entry-title"><a href="/<% $entry->path %>" rel="bookmark"><% $entry->title %></a></h3>
<div class="entry-summary"><p>{{ $entry->summary |n %></p>
</div><p class="entry-footer align-right">
<a class="readmore" href="/<% $entry->path %>">Read it</a>
<a class="comments" href="/<% $entry->path %>#disqus_thread">Comment</a>
<span class="date published"><span class="value-title" title="<% $entry->published %>"> </span><% substr($entry->published,0,10) %></span>
</p>
</div>
{% endfor %}
