{% extends "base.html" %}
{% block title %}{{ entry.title|striptags }}{% endblock title%}
{% block body %}
<article class='hentry'>
    <h1 class='entry-title'>{{ entry.title }}</h1>
    {% if entry.summary %}
    <p class="entry-summary">{{ entry.summary }}</p>
    {% endif %}
    <div class="entry-content">
        {{ entry.bodycontent() |safe }}
    </div>
    <p class="entry-meta">
    updated <time class="updated" datetime="{{ entry.sort_date().isoformat() }}">{{ entry.sort_date() }}</time>
    </p>
</article>
{% endblock body %}
