<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <!-- Combo-handled YUI CSS files: -->
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.7.0/build/reset-fonts-grids/reset-fonts-grids.css&amp;2.7.0/build/base/base-min.css">
        <link rel="stylesheet" href="/css/EliteCircle.css" type="text/css">
        <!--[if lte IE 6]>
        <link rel="stylesheet" type="text/css" href="/css/EliteCircle-ie6.css">
        <![endif]-->
        <title>{% block title %}{% endblock title %}
            {% block title_suffix %}Web development tutorials, videos, &amp; presentations — Webquills.net{% endblock title_suffix %}
        </title>
        <link rel="alternate" href="http://feeds.feedburner.com/Webquills"
         title="Webquills: Recent Articles" type="application/atom+xml">
         {% block meta %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
         {% endblock meta %}
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    </head>
    <body>
        <div id="doc3" class="{% block body_class %}yui-t6{% endblock body_class %}">
            <div id="hd" class="banner"><div id="header-content">
            {% block logotype %}
                <div id="logotype"><a href="/index.html" title="">Web<span class="orange">quills</span></a></div>  
                <div id="tagline" class="orange">Helping web developers perfect their craft</div>       
            {% endblock logotype %}
                <ul id="nav" class="navigation">
                    <li><a href="/" class="current">Home</a></li>
                    <li><a href="/web-strategy/">Web Strategy</a></li>
                    <li><a href="/web-development/">Web Development</a></li>
                    <li><a href="/about.html">About Webquills</a></li>           
                </ul>
                <div class="align-right">{% include '/inc/search_form.html' %}</div>
            </div></div>
            <div id="bd">
                {% block body %}
                {% endblock body %}
            </div>
            <div id="ft">
              <div id="footer-content">
                  <div class="yui-g">
                      <div class="yui-u first">
                        <p><a href="/credits.html">additional credits</a></p>
                      </div>
                    <div class="yui-u">
                      <div class="widget-creative-commons widget">
                         <div class="widget-content">
                            <p><a href="http://creativecommons.org/licenses/by-nd/3.0/us/"><img src="http://i.creativecommons.org/l/by-nd/3.0/us/88x31.png" class="no-border" alt="Creative Commons License"></a></p>
                            <p>&copy; Copyright 2008-2011 by Vincent Veselosky. Unless otherwise noted, content on this web site is licensed under a <a href="http://creativecommons.org/licenses/by-nd/3.0/us/">Creative Commons License</a>.</p>
                         </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
    var pageTracker = _gat._getTracker("UA-642116-5");
    pageTracker._trackPageview();
} catch(err) {}</script>
    </body>
</html>
