{% extends 'base.html' -%}
{% block title -%}
{{ entry.title | striptags }}
{%- endblock title %}

{% block body %}
{%- if entry.disqus_url -%}
<script>disqus_url = "{{ entry.disqus_url }}";</script>
{% endif -%}
<div id="content" class='yui-gc'>
<div id="main" class='yui-u first main'>
    {{ entry.content }}
    {% if not entry.no_comments -%}
    <div id="disqus_thread"></div>
    <script type="text/javascript" src="http://disqus.com/forums/webquills/embed.js"></script><noscript><a href="http://webquills.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    {%- endif -%}
    <div id="sidebar" class='yui-u'>{% include '/inc/interior_sidebar.htm' %}</div>
</div>
{% endblock body %}
