{% extends 'base.html' %}
{% block body_class %}yui-t7{% endblock body_class %}

{% block logotype %}
<h1 id="logotype"><a href="/index.html" title="">Web<span class="orange">quills</span></a></h1>  
<h2 id="tagline" class="orange">Develop <em>effective</em> web sites</h2>       
{% endblock logotype %}

{% block body %}
<div class="yui-g">
<div class="yui-u first">
{% include '/inc/ethos.htm' %}
</div>
<div class="yui-u">
<h2>Recent articles</h2>

{%- for entry in channel.entries %}
<div class="hentry">
    <h3 class="entry-title"><a href="{{ entry._path }}.html" rel="bookmark">{{ entry.title }}</a></h3>
<div class="entry-summary"><p>{{ entry.summary |safe }}</p>
</div><p class="entry-footer align-right">
<a class="readmore" href="{{ entry._path }}.html">Read it</a>
<a class="comments" href="{{ entry._path }}.html#disqus_thread">Comment</a>
<span class="date published"><span class="value-title" title="{{ entry.published }}"> </span>{{ entry.published | truncate(10, true, '') }}</span>
</p>
</div>
{%- if loop.index >= 3%}{% break %}{% endif -%}
{%- endfor -%}

</div>
</div>
<hr>
<div class="secondary yui-g">
<div class="yui-u first">
<h2>Web development tips from around the Web</h2>
{# include '/inc/delicious_local.html' #}
<script src="http://www.delicious.com/v2/js/veselosky/webdev?count=5&style=none&title=Recent%20Bookmarks&extended=true&name=true"></script>
</div>
<div class="yui-u">
<h2>Sites I follow</h2>
<ul>
    <li><p><a href="http://ajaxian.com/">Ajaxian</a></p></li>
    <li><p><a href="http://dashes.com/anil/">Anil Dash</a></p></li>
    <li><p><a href="http://bitworking.org/news/">BitWorking (Joe Gregorio)</a></p></li>
    <li><p><a href="http://www.ablognotlimited.com/">A Blog Not Limited (Emily Lewis)</a></p></li>
    <li><p><a href="http://buildinternet.com/">Build Internet!</a></p></li>
    <li><p><a href="http://www.majordojo.com/">majordojo (Byrne Reese)</a></p></li>
    <li><p><a href="http://perlbuzz.com/">Perlbuzz</a></p></li>
    <li><p><a href="http://sixrevisions.com/">Six Revisions</a></p></li>
    <li><p><a href="http://www.stubbornella.org/">Stubornella (Nicole Sullivan)</a></p></li>
    <li><p><a href="http://www.uxbooth.com/">UX Booth</a></p></li>
    <li><p><a href="http://www.yuiblog.com/blog/">Yahoo! User Interface Blog</a></p></li>
</ul>
</div>
</div>
{% endblock body %}
